*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #0c0c0c;
}

header{
    background-color: white;
    height: 80px;
}
#icon{
    float: left;
    padding: 0% 1% 0% 2%;
}
#texto{
    padding-top: 1%;
}

section{
    clear: both;
    margin: 0 auto;
    margin-top: 5%;
    border-style: solid;
    border-color: red;
    background-color:#e5e7ea;
    min-height: 700px;
    width: 80%;
}

#imagem{
    width: 20%;
    margin: 0 auto;
    margin-top: 5%;
}

p{    
    font-size: 32px
}

#title{
    font-size: 40px;
}
ul{
    padding: 3%;
}
li{
    font-size: 38px;
}
