@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(https://images2.alphacoders.com/900/900075.png);
}

#header{
    background-color: #0c0c0c;
    height: 80px;
}
#icon{
    float: left;
    padding: 0% 1% 0% 2%;
}
#texto{
    padding-top: 1.32%;
}

#quadro{
    clear: both;
    margin: 0 auto;
    margin-top: 5%;
    border-style: solid;
    border-color: red;
    background-color:#0c0c0c;
    min-height: 300px;
    max-height: 500px;
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;
}

h1{
    color: white;
}

p{  
    color: white;  
    font-size: 32px
}

#title{
    font-size: 40px;
}
ul{
    padding: 3%;
    color: white;
}
li{
    font-size: 38px;
}

a{
    color: white;
}