@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin: 0%;
    padding: 0%;
}
.container{
    width: 100%;
}
body{
    background-image: url(https://images2.alphacoders.com/900/900075.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}
.imagem-jogo{
    float: left;
    margin: 2%;
}
.texto-jogo{
    margin: 5%;
}
.texto-jogo-especial{
    margin: 5%;
    margin-top:10%;
}

#titulo{
    color: crimson;
    margin-bottom: 15px;
    font-size: 44px;
    text-shadow: 1px 1px 3px black;
}
#title{
    width: 50%;
    margin: 0 auto;
    margin-top: 30px; 
}
#meio{
    background-color :#0c0c0c; 
    margin: 0 auto;
    width: 50%;
    min-height: 972px;
}
h1{
   color: white;
   padding-top: 10px; 
   padding-bottom: 10px;
}
li{
    color: white;
}
p{  
    padding-left: 22px;
    font-size: 20px;
    color: white;
}
img{
    width: 250px;
    height: 250px;
}
hr{
    clear: both;
}