*{
    margin: 0%;
    padding: 0%;
}
.container{
    width: 100%;
}
.imagem-fundo{
   
    background-image: url(https://images2.alphacoders.com/900/900075.png);
    min-height: 1080px;
}
.imagem-jogo{
    float: left;
    margin: 2%;
}
.texto-jogo{
    margin: 5%;
}
.texto-jogo-especial{
    margin: 5%;
    margin-top:10%;
}
header{
    background-color: #0c0c0c;
    width: 50%;
    margin: 0 auto;
    height: 30px;
}
#links{
    float: left;
    font-size: 20px;
}
#titulo{
    color: red;
}
#title{
    width: 50%;
    margin: 0 auto;
    margin-top: 30px; 
}
#meio{
    background-color :#0c0c0c; 
    margin: 0 auto;
    width: 50%;
    min-height: 972px;
}
h1{
   color: white;
}
li{
    color: white;
}
p{  
    padding-left: 22px;
    font-size: 20px;
    color: white;
}
a{
    padding-left: 26%;
    font-size: 20px;
    color: white;
}
img{
    width: 250px;
    height: 250px;
}
hr{
    clear: both;
}
